@isPublish: true;

#header4-0 {
H1 {
  color: #ffffff;
  text-align: center;
}
P {
  color: #ffffff;
}
I {
  color: #ffffff;
}
<meta name="viewport" content="width=device-width, initial-scale=1">}

#header1-4 {
H1 {
  color: #1abc9c;
}
P {
  color: #000000;
  text-align: left;
}
}

#content5-q {
.mbr-header .mbr-header__text {
  text-align: center;
  color: #ffffff;
}
.mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
.mbr-article {
  color: #fff;
}
.mbr-article P {
  color: #e25041;
}
}

#content4-r {
P {
  color: #777777;
}
}

#content5-s {
.mbr-header .mbr-header__text {
  text-align: center;
  color: #efefef;
}
.mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
.mbr-article {
  color: #fff;
}
.mbr-article P {
  text-align: center;
  color: #efefef;
}
}

#msg-box1-10 {
.mbr-header .mbr-header__text {
  color: #fff;
}
.mbr-article {
  color: #fff;
}
}

#content4-z {
P {
  text-align: left;
}
.mbr-section__col .mbr-header__text {
  text-align: left;
}
}

#msg-box2-x {
.mbr-header .mbr-header__text {
  color: #252525;
}
.mbr-article {
  color: #252525;
}
}

#msg-box4-5 {
.mbr-header__text {
  color: #000000;
}
.mbr-header__subtext {
  color: #ffffff;
}
.mbr-article {
  color: #ffffff;
}
}

#menu-8 {
.mbr-brand__name {
  font-size: 16px;
}
&.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
.mbr-navbar__section {
  background: #2c2c2c;
}
.mbr-navbar__hamburger {
  color: #ffffff;
}
}

#footer1-c {
}

#contacts3-b {
P {
  font-size: 14px;
}
}
#msg-box3-n .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-n .mbr-header .mbr-header__subtext {
  text-align: center;
}
#menu-d .mbr-brand__name {
  font-size: 16px;
}
#menu-d.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-d .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-d .mbr-navbar__hamburger {
  color: #ffffff;
}
#contacts3-e P {
  font-size: 14px;
}
#header1-16 P {
  color: #efefef;
}
#slider-17 P {
  color: #efefef;
  text-align: center;
}
#slider-17 H1 {
  text-align: center;
}
#msg-box3-19 .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-19 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#menu-13 .mbr-brand__name {
  font-size: 16px;
}
#menu-13.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-13 .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-13 .mbr-navbar__hamburger {
  color: #ffffff;
}
#contacts3-15 P {
  font-size: 14px;
}
#msg-box3-1f .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-1f .mbr-header .mbr-header__subtext {
  text-align: center;
}
#menu-1a .mbr-brand__name {
  font-size: 16px;
}
#menu-1a.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-1a .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-1a .mbr-navbar__hamburger {
  color: #ffffff;
}
#contacts3-1c P {
  font-size: 14px;
}
